body {
    font-family: 'Arial', sans-serif;
    background-color: #edf5f3;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.front-page {
    background-color: #ecf2f2;
    padding: 20px;
    border-radius: none;
    box-shadow: none;
    text-align: center;
}

#front-page h1 {
    margin-bottom: 20px;
}

#user-info-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}